{% extends 'shop/basics.html' %}

{% block title %} Contact {% endblock %}

{% block contact %} active {% endblock %}

{% block body %}

<div class="container my-4 d-block w-50">
  <form action="/shop/contact/" method="POST" id="contactForm">{% csrf_token %}
    <h5>Contact Us</h5>
    <hr>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
    </div>

    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email address">
    </div>

    <div class="form-group">
      <label for="phone">Phone Number</label>
      <input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter your phone number">
    </div>

    <div class="form-group">
      <label for="desc">How may I help you?</label>
      <textarea class="form-control" id="desc" name="desc" rows="3"></textarea>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
{% endblock %}

{% block js %}

<script>
  // function validation() {
  //   name = $('#name').val();
  //   email = $('#email').val();
  //   phone = $('#phone').val();
  //   desc = $('#desc').val();

  //   if (name == '' || email == '' || phone == '' || desc == '') {
  //     swal("Oops!", "Something went wrong!", "error");
  //   } else {
  //     swal("Thank You!", "We will reach you soon!", "success");
  //   }
  // }
</script>

{% endblock %}